<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.akers.tma.mapper.TmaMissionMapper">

    <resultMap type="com.github.akers.tma.domain.TmaMission" id="TmaMissionResult">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="teamId" column="team_id"/>
        <result property="missionDuration" column="mission_duration"/>
        <result property="missionName" column="mission_name"/>
        <result property="missionType" column="mission_type"/>
        <result property="missionStatus" column="mission_status"/>
        <result property="missionDesc" column="mission_desc"/>
        <result property="parentId" column="parent_id"/>
        <result property="missionId" column="mission_id"/>
    </resultMap>


</mapper>
