<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.akers.tma.mapper.TmaMissionAssignedMapper">

    <resultMap type="com.github.akers.tma.domain.TmaMissionAssigned" id="TmaMissionAssignedResult">
        <result property="id" column="id"/>
        <result property="version" column="version"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
        <result property="missionId" column="mission_id"/>
        <result property="assignTime" column="assign_time"/>
    </resultMap>


</mapper>
